<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>The CerusJS site!</title>
	</head>
	<body>
		<%- include("./sidebar", {sidebar, selected, module}) %>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<%- include("./title", (typeof classes === "object") ? {classes} : {}) %>
			<div class="inner">
				<%- include((typeof inner === "string") ? inner : "./welcome", (typeof data === "object") ? {data} : {}) %>
			</div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>